<script setup>
  import db from '/db/db.json';
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script src="https://unpkg.com/vue@2.6.1/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>

    <div id="app">
       

      <el-descriptions title="Ficha de Anaminese" direction="vertical" :column="4" border>
        <el-descriptions-item label="Nome">Matheus Hardman</el-descriptions-item>
        <el-descriptions-item label="Telefone">(83)100000000</el-descriptions-item>
        <el-descriptions-item label="Cidade" :span="2">Cabedelo</el-descriptions-item>
        <el-descriptions-item label="Remarks">
          <el-tag size="small">School</el-tag>
        </el-descriptions-item>
        <el-descriptions-item label="Endereco">Rua Santa Catarina, 45, Santa Catarina, Cabedelo/PB</el-descriptions-item>
      </el-descriptions>
      <el-form ref="form" :model="form" label-width="120px">


        
        <el-divider></el-divider>

            <!--
              <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                  <li v-for="error in errors">{{ error }}</li>
                </ul>
              </p>
            -->
           
            
            <!--Primeira Linha:-->
            <el-row>
              <el-col :span="8"><div class="grid-content bg-purple">
                <el-form-item label="Anemia?">
                  <el-radio-group v-model="form.anemia">
                      <el-radio-button  label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
                </el-form-item>
              </div></el-col>

              <el-col :span="8"><div class="grid-content bg-purple-light">
                <el-form-item label="Hepatite?">
                  <el-radio-group v-model="form.hepatite">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
             </el-form-item>
          
              </div></el-col>
              <el-col :span="8"><div class="grid-content bg-purple">
                <el-form-item label="Sifilis?">
                  <el-radio-group v-model="form.sifilis">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
             </el-form-item>
             </div></el-col>
            </el-row>

             <!--Segunda Linha-->
             <el-row>
              <el-col :span="8"><div class="grid-content bg-purple">
                <el-form-item label="HIV">
                  <el-radio-group v-model="form.hiv">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
                </el-form-item>
              </div></el-col>

              <el-col :span="8"><div class="grid-content bg-purple-light">
                <el-form-item label="Asma">
                  <el-radio-group v-model="form.asma">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
             </el-form-item>
          
              </div></el-col>
              <el-col :span="8"><div class="grid-content bg-purple">
                <el-form-item label="Fumante">
                  <el-radio-group v-model="form.fumante">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
             </el-form-item>
             </div></el-col>
            </el-row>

              <el-divider></el-divider>

                <el-row :gutter="20">
                  <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="Alergias?">
                      <el-radio-group v-model="form.alergias" @change="changeAlergias">
                          <el-radio-button label="true">SIM</el-radio-button>
                          <el-radio-button label="false">NÃO</el-radio-button>
                       </el-radio-group>
                    </el-form-item>
                  </div></el-col>

                  <el-col v-if="form.alergias" :span="14"><div class="grid-content bg-purple">
                    <el-form-item label="Qual?">
                      <el-input placeholder="Please input" v-model="form.alergias_input"></el-input>
                    </el-form-item>
                  </div></el-col>
                  
                  <p>{{form.alergico_qual}}</p>
                </el-row>

                <el-row :gutter="20">
                  <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="Doença?">
                      <el-radio-group v-model="form.doenca" @change="changeDoenca">
                          <el-radio-button label="true">SIM</el-radio-button>
                          <el-radio-button label="false">NÃO</el-radio-button>
                       </el-radio-group>
                    </el-form-item>
                  </div></el-col>

                  <el-col v-if="form.doenca" :span="14"><div class="grid-content bg-purple">
                    <el-form-item label="Qual?" v-if="form.doenca">
                      <el-input placeholder="Please input" v-model="form.doenca_qual_input"></el-input>
                    </el-form-item>
                  </div></el-col>
                  
                </el-row>

                <el-row :gutter="20">
                  <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="T. Medico?">
                      <el-radio-group v-model="form.tratamento" @change="changeTratamento">
                          <el-radio-button label="true">SIM</el-radio-button>
                          <el-radio-button label="false">NÃO</el-radio-button>
                       </el-radio-group>
                    </el-form-item>
                  </div></el-col>

                  <el-col  :span="14"><div class="grid-content bg-purple">
                    <el-form-item v-if="form.tratamento"  label="Qual?">
                      <el-input  placeholder="Please input" v-model="form.tratamento_input"></el-input>
                    </el-form-item>
                  </div></el-col>
                  
                </el-row>

                <el-divider></el-divider>

                <el-row>
                  <el-switch v-model="value_switch" active-color="#13ce66" inactive-color="#ff4949"></el-switch>            
                </el-row>
               
                <el-divider></el-divider>

                <el-row>
                  <template>
                    <el-transfer v-model="form.data_transfer" :data="data"></el-transfer>
                  </template>
                </el-row>

                <p>{{value_switch}}</p>
             
             <el-divider></el-divider>

             <el-form-item>
              <el-button icon="el-icon-plus" type="primary" @click="onAnaminese()">Enviar</el-button>
              <el-button>Cancel</el-button>
            </el-form-item>
          </el-form>
    </div>
 
</body>
</html>

<script>
    const app = new Vue({
      
        el:'#app',
        data() {
          
                ///el:transfer testes:
                const generateData = _ => {
                const data = [];
                const horas = ['10:01', '10:09', '13:09', '05:43', '12:56']
                horas.forEach((h, index) => {
                    data.push({
                      label: h,
                      key: h,
                      value: index,
                     // initial: initials[index]
                    });
                  });
                return data;
              };
              ///Fim el:transfer
                 
          
                return {
                  ///el:transfer:
                  data: generateData(),
                 
                  ///FIM el:transfer
      
                  value_switch: null,
                form: {
                    anemia: null,
                    hepatite: null,
                    sifilis: null,
                    hiv: null,
                    asma: null,
                    fumante: null,
                    alergias: null,
                    alergias_input: null,
                    doenca_input: null,
                    doenca: null,
                    tratamento: null,
                    tratamento_input: null,
                    name: '',
                    data_transfer: [],
                    anaminese: {}

                  },
                  errors: [],
                  array_drop_box: []

                }
              },
              methods: {

               
                //Enviardadospra API:
                async onAnaminese() {

                    this.checkFormValidate();
                    if(this.errors.length <= 0) {

                          axios.post('/url', this.form)
                            .then(function (response) {
                              console.log(response);
                            })
                            .catch(function (error) {
                              console.log(error);
                            });                        
                          console.log(this.form);
                    }else{
                        this.openValidate();
                    }

                },

                ///Pegar o change pra ativar ou desativar inputs:
                changeTratamento(data){
                     this.form.tratamento = this.stringToBoolean(data) 
                },
                changeDoenca(data){
                  this.form.doenca = this.stringToBoolean(data) 
                
                },
                changeAlergias(data){
                  this.form.alergias = this.stringToBoolean(data);
                  console.log(this.form.data_transfer); 
                },

                ///Validar dados do Form Anaminese:
                checkFormValidate(){

                    this.errors = [];
       
                    if(!this.form.anemia) this.errors.push("Anemia");
                    if(!this.form.hepatite) this.errors.push("Hepatite");
                    if(!this.form.sifilis) this.errors.push("Sifilis");
                    if(!this.form.hiv) this.errors.push("Hiv");
                    if(!this.form.asma) this.errors.push("Asma");
                    if(!this.form.fumante) this.errors.push("Fumante");
                  
                    if(this.isEmpty(this.form.tratamento)) this.errors.push("Tratamento Medico");
                    if(this.isEmpty(this.form.doenca)) this.errors.push("Doença");
                    if(this.isEmpty(this.form.alergias)) this.errors.push("Alergias");
                    

                    if(!this.errors.length) return true;
               
                },
                ///Is Empty:
                isEmpty(value){
                     if(value === null) return true;
                     else return false;
                },

                ///Opne Dialog falta validar:
                openValidate() {
                    this.$notify.error({
                        title: 'Atenção',
                        message: 'Preencha os campos Obrigatórios!!!\n\n'+ this.errors.join(' - \n'),
                        
                        
                        }, 2500);
                     },

                    ///convert string to Maginbool:
                     stringToBoolean(string){
                      switch(string.toLowerCase().trim()){
                          case "true": 
                          case "yes": 
                          case "1": 
                            return true;

                          case "false": 
                          case "no": 
                          case "0": 
                          case null: 
                            return false;

                          default: 
                            return Boolean(string);
                    }
                }            

              },
             
    });
    </script>
 
<style>
  .row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
</style>
    

