<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script src="https://unpkg.com/vue@2.6.1/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>

    <div id="app">
       
      <el-form ref="form" :model="form" label-width="120px">

            <!--
              <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                  <li v-for="error in errors">{{ error }}</li>
                </ul>
              </p>
            -->
            <el-row>
              <el-col :span="24"><div class="grid-content bg-purple-dark">
                <el-form-item label="Activity name">
                  <el-input v-model="form.name"></el-input>
                </el-form-item>
              </div></el-col>
            </el-row>
            
            <!--Primeira Linha:-->
            <el-row>
              <el-col :span="8"><div class="grid-content bg-purple">
                <el-form-item label="É Hipertenso?">
                  <el-radio-group v-model="form.hipertenso">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
                </el-form-item>
              </div></el-col>

              <el-col :span="8"><div class="grid-content bg-purple-light">
                <el-form-item label="É Diabético?">
                  <el-radio-group v-model="form.diabetico">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
             </el-form-item>
          
              </div></el-col>
              <el-col :span="8"><div class="grid-content bg-purple">
                <el-form-item label="É Diabético?">
                  <el-radio-group v-model="form.diabetico">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
             </el-form-item>
             </div></el-col>
            </el-row>

              <el-button type="primary" @click="onAnaminese()">Enviar</el-button>
              <el-button>Cancel</el-button>
            </el-form-item>
          </el-form>
    </div>
   



</body>
</html>

<script>
    const app = new Vue({
        el:'#app',
        data() {
                return {
                  form: {
                    hipertenso: null,
                    diabetico: null,
                    
                    name: '',
                    anaminese: {}

                  },
                  errors: []

                }
              },
              methods: {

                //Enviardadospra API:
                async onAnaminese() {
                    
                    this.checkFormValidate();
                    if(this.errors.length <= 0) {

                          axios.post('/url', this.form)
                            .then(function (response) {
                              console.log(response);
                            })
                            .catch(function (error) {
                              console.log(error);
                            });                        
                          console.log(this.form);
                    }else{
                        this.openValidate();
                    }

                },

                //Validar dados do Form Anaminese:
                checkFormValidate(){

                    this.errors = [];

                    if(!this.form.hipertenso) this.errors.push("Hipertenso");
                    if(!this.form.diabetico) this.errors.push("Diabetico");


                    if(!this.errors.length) return true;
                  
                    
                },

                openValidate() {
                    this.$notify.error({
                        title: 'Atenção',
                        message: 'Preencha os campos Obrigatórios!!!\n\n'+ this.errors.join(' - \n'),
                        
                        
                        }, 2500);
                     },

                    

              },
                
                
                        
                    
    });
    </script>
 
<style>
  .row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
</style>
    

