<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script src="https://unpkg.com/vue@2.6.1/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>

    <div id="app">
       
      <el-form ref="form" :model="form" label-width="120px">


        <el-row>
          <el-col :span="24"><div class="grid-content bg-purple-dark">Ficha de Anaminese</div></el-col>
        </el-row>
        <el-divider></el-divider>

            <!--
              <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                  <li v-for="error in errors">{{ error }}</li>
                </ul>
              </p>
            -->
            <el-row>
              <el-col :span="24"><div class="grid-content bg-purple-dark">
                <el-form-item label="Activity name">
                  <el-input v-model="form.name"></el-input>
                </el-form-item>
              </div></el-col>
            </el-row>
            
            <!--Primeira Linha:-->
            <el-row>
              <el-col :span="8"><div class="grid-content bg-purple">
                <el-form-item label="Anemia?">
                  <el-radio-group v-model="form.anemia">
                      <el-radio-button  label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
                </el-form-item>
              </div></el-col>

              <el-col :span="8"><div class="grid-content bg-purple-light">
                <el-form-item label="Hepatite?">
                  <el-radio-group v-model="form.hepatite">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
             </el-form-item>
          
              </div></el-col>
              <el-col :span="8"><div class="grid-content bg-purple">
                <el-form-item label="Sifilis?">
                  <el-radio-group v-model="form.sifilis">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
             </el-form-item>
             </div></el-col>
            </el-row>

             <!--Segunda Linha-->
             <el-row>
              <el-col :span="8"><div class="grid-content bg-purple">
                <el-form-item label="HIV">
                  <el-radio-group v-model="form.hiv">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
                </el-form-item>
              </div></el-col>

              <el-col :span="8"><div class="grid-content bg-purple-light">
                <el-form-item label="Asma">
                  <el-radio-group v-model="form.asma">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
             </el-form-item>
          
              </div></el-col>
              <el-col :span="8"><div class="grid-content bg-purple">
                <el-form-item label="Fumante">
                  <el-radio-group v-model="form.fumante">
                      <el-radio-button label="true">SIM</el-radio-button>
                      <el-radio-button label="false">NÃO</el-radio-button>
                   </el-radio-group>
             </el-form-item>
             </div></el-col>
            </el-row>

               <!--Terceira Linha-->
               <el-row>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Hormonios">
                    <el-radio-group v-model="form.hormonios">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
                  </el-form-item>
                </div></el-col>
  
                <el-col :span="8"><div class="grid-content bg-purple-light">
                  <el-form-item label="Alcoolista">
                    <el-radio-group v-model="form.alcoolista">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
            
                </div></el-col>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Tatuagens">
                    <el-radio-group v-model="form.tatuagens">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
               </div></el-col>
              </el-row>
              
               <!--Quarta Linha-->
               <el-row>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Herpes/Aftas">
                    <el-radio-group v-model="form.herpes_aftas">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
                  </el-form-item>
                </div></el-col>
  
                <el-col :span="8"><div class="grid-content bg-purple-light">
                  <el-form-item label="Gravidez">
                    <el-radio-group v-model="form.gravidez">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
            
                </div></el-col>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Desmaios">
                    <el-radio-group v-model="form.desmaios">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
               </div></el-col>
              </el-row>

               <!--Quinta Linha-->
               <el-row>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Febre Reumatica">
                    <el-radio-group v-model="form.febre_reumatica">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
                  </el-form-item>
                </div></el-col>
  
                <el-col :span="8"><div class="grid-content bg-purple-light">
                  <el-form-item label="Diabetes">
                    <el-radio-group v-model="form.diabetes">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
            
                </div></el-col>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Epilepsia">
                    <el-radio-group v-model="form.epilepsia">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
               </div></el-col>
              </el-row>

               <!--Sexta Linha-->
               <el-row>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Cicatrização Ruim">
                    <el-radio-group v-model="form.cicatrizacao_ruim">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
                  </el-form-item>
                </div></el-col>
  
                <el-col :span="8"><div class="grid-content bg-purple-light">
                  <el-form-item label="Disturbios Psico">
                    <el-radio-group v-model="form.disturbios_psico">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
            
                </div></el-col>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Endocardite Bact">
                    <el-radio-group v-model="form.endocardite_bact">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
               </div></el-col>
              </el-row>

              <!--Setima Linha-->
              <el-row>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Problema Hepatico">
                    <el-radio-group v-model="form.problema_hepatico">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
                  </el-form-item>
                </div></el-col>
  
                <el-col :span="8"><div class="grid-content bg-purple-light">
                  <el-form-item label="Problema Renal">
                    <el-radio-group v-model="form.problema_renal">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
            
                </div></el-col>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Problema Cardiaco">
                    <el-radio-group v-model="form.problema_cardiaco">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
               </div></el-col>
              </el-row>

              
              <!--Oitava Linha-->
              <el-row>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Tensão Arterial">
                    <el-radio-group v-model="form.tensao_arterial">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
                  </el-form-item>
                </div></el-col>
  
                <el-col :span="8"><div class="grid-content bg-purple-light">
                  <el-form-item label="Cirurgia">
                    <el-radio-group v-model="form.cirurgia">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
            
                </div></el-col>
                <el-col :span="8"><div class="grid-content bg-purple">
                  <el-form-item label="Tumor">
                    <el-radio-group v-model="form.tumor">
                        <el-radio-button label="true">SIM</el-radio-button>
                        <el-radio-button label="false">NÃO</el-radio-button>
                     </el-radio-group>
               </el-form-item>
               </div></el-col>
              </el-row>

                 <!--Oitava Linha-->
                 <el-row>
                  <el-col :span="8"><div class="grid-content bg-purple">
                    <el-form-item label="Int. Hospitalar">
                      <el-radio-group v-model="form.internacao_hospitalar">
                          <el-radio-button label="true">SIM</el-radio-button>
                          <el-radio-button label="false">NÃO</el-radio-button>
                       </el-radio-group>
                    </el-form-item>
                  </div></el-col>

                  <el-col :span="8"><div class="grid-content bg-purple">
                    <el-form-item label="Problema Gastrico">
                      <el-radio-group v-model="form.gastrico">
                          <el-radio-button label="true">SIM</el-radio-button>
                          <el-radio-button label="false">NÃO</el-radio-button>
                       </el-radio-group>
                    </el-form-item>
                  </div></el-col>

                  
                  <el-col :span="8"><div class="grid-content bg-purple">
                    <el-form-item label="Problema Alergico">
                      <el-radio-group v-model="form.alergico">
                          <el-radio-button label="true">SIM</el-radio-button>
                          <el-radio-button label="false">NÃO</el-radio-button>
                       </el-radio-group>

                    </el-form-item>
                  </div></el-col>
                </el-row>


                <el-divider></el-divider>

                <el-row :gutter="20">
                  <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="Alergias?">
                      <el-radio-group v-model="form.alergias" @change="changeAlergias">
                          <el-radio-button label="true">SIM</el-radio-button>
                          <el-radio-button label="false">NÃO</el-radio-button>
                       </el-radio-group>
                    </el-form-item>
                  </div></el-col>

                  <el-col v-if="form.alergias" :span="14"><div class="grid-content bg-purple">
                    <el-form-item label="Qual?">
                      <el-input placeholder="Please input" v-model="form.alergias_input"></el-input>
                    </el-form-item>
                  </div></el-col>
                  
                  <p>{{form.alergico_qual}}</p>
                </el-row>

                <el-row :gutter="20">
                  <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="Doença?">
                      <el-radio-group v-model="form.doenca" @change="changeDoenca">
                          <el-radio-button label="true">SIM</el-radio-button>
                          <el-radio-button label="false">NÃO</el-radio-button>
                       </el-radio-group>
                    </el-form-item>
                  </div></el-col>

                  <el-col v-if="form.doenca" :span="14"><div class="grid-content bg-purple">
                    <el-form-item label="Qual?" v-if="form.doenca">
                      <el-input placeholder="Please input" v-model="form.doenca_qual_input"></el-input>
                    </el-form-item>
                  </div></el-col>
                  
                </el-row>

                <el-row :gutter="20">
                  <el-col :span="6"><div class="grid-content bg-purple">
                    <el-form-item label="T. Medico?">
                      <el-radio-group v-model="form.tratamento" @change="changeTratamento">
                          <el-radio-button label="true">SIM</el-radio-button>
                          <el-radio-button label="false">NÃO</el-radio-button>
                       </el-radio-group>
                    </el-form-item>
                  </div></el-col>

                  <el-col  :span="14"><div class="grid-content bg-purple">
                    <el-form-item v-if="form.tratamento"  label="Qual?">
                      <el-input  placeholder="Please input" v-model="form.tratamento_input"></el-input>
                    </el-form-item>
                  </div></el-col>
                  
                </el-row>


                <p>{{form.tratamento}}</p>

           
             <el-form-item>
              <el-button type="primary" @click="onAnaminese()">Enviar</el-button>
              <el-button>Cancel</el-button>
            </el-form-item>
          </el-form>
    </div>
   



</body>
</html>

<script>
    const app = new Vue({
        el:'#app',
        data() {
                return {
                
                  form: {
                    anemia: null,
                    hepatite: null,
                    sifilis: null,
                    hiv: null,
                    asma: null,
                    fumante: null,
                    hormonios: null,
                    alcoolista: null,
                    tatuagens: null,
                    herpes_aftas: null,
                    gravidez: null,
                    desmaios: null,
                    febre_reumatica: null,
                    diabetes: null,
                    epilepsia: null,
                    cicatrizacao_ruim: null,
                    disturbios_psico: null,
                    endocardite_bact: null,
                    problema_hepatico: null,
                    problema_renal: null,
                    problema_cardiaco: null,
                    tensao_arterial: null,
                    cirurgia: null,
                    tumor: null,
                    internacao_hospitalar: null,
                    gastrico: null,
                    alergico: null,
                    alergias: null,
                    alergias_input: null,
                    doenca_input: null,
                    doenca: null,
                    tratamento: null,
                    tratamento_input: null,
                    name: '',
                    anaminese: {}

                  },
                  errors: []

                }
              },
              methods: {

                //Enviardadospra API:
                async onAnaminese() {

                    this.checkFormValidate();
                    if(this.errors.length <= 0) {

                          axios.post('/url', this.form)
                            .then(function (response) {
                              console.log(response);
                            })
                            .catch(function (error) {
                              console.log(error);
                            });                        
                          console.log(this.form);
                    }else{
                        this.openValidate();
                    }

                },

             
                changeTratamento(data){
                     this.form.tratamento = this.stringToBoolean(data) 
                },
                changeDoenca(data){
                  this.form.doenca = this.stringToBoolean(data) 
                
                },
                changeAlergias(data){
                  this.form.alergias = this.stringToBoolean(data) 
                },
                //Validar dados do Form Anaminese:
                checkFormValidate(){

                    this.errors = [];
       
                    if(!this.form.anemia) this.errors.push("Anemia");
                    if(!this.form.hepatite) this.errors.push("Hepatite");
                    if(!this.form.sifilis) this.errors.push("Sifilis");
                    if(!this.form.hiv) this.errors.push("Hiv");
                    if(!this.form.asma) this.errors.push("Asma");
                    if(!this.form.fumante) this.errors.push("Fumante");
                    if(!this.form.hormonios) this.errors.push("Hormonios");
                    if(!this.form.alcoolista) this.errors.push("Alcoolista");
                    if(!this.form.tatuagens) this.errors.push("Tatuagens");
                    if(!this.form.herpes_aftas) this.errors.push("Herpes/Aftas");
                    if(!this.form.gravidez) this.errors.push("Gravidez");
                    if(!this.form.desmaios) this.errors.push("Desmaios");
                    if(!this.form.febre_reumatica) this.errors.push("Febre Reumatica");
                    if(!this.form.diabetes) this.errors.push("Diabetes");
                    if(!this.form.epilepsia) this.errors.push("Epilepsia");
                    if(!this.form.cicatrizacao_ruim) this.errors.push("Cicatrizacao Ruim");
                    if(!this.form.disturbios_psico) this.errors.push("Disturbios Psico");
                    if(!this.form.endocardite_bact) this.errors.push("Endocardite Bact");
                    if(!this.form.problema_hepatico) this.errors.push("Problema Hepatico");
                    if(!this.form.problema_renal) this.errors.push("Problema Renal");
                    if(!this.form.problema_cardiaco) this.errors.push("Problema Cardiaco");
                    if(!this.form.tensao_arterial) this.errors.push("Tensao Arterial");
                    if(!this.form.cirurgia) this.errors.push("Cirurgia");
                    if(!this.form.internacao_hospitalar) this.errors.push("Internacao Hospitalar");
                    if(!this.form.tumor) this.errors.push("Tumor");
                    if(!this.form.tratamento) this.errors.push("Tratamento Medico");
                    if(!this.form.doenca) this.errors.push("Doença");
                    if(!this.form.alergias) this.errors.push("Alergias");
                    

                    if(!this.errors.length) return true;
                 
                    
                },

                openValidate() {
                    this.$notify.error({
                        title: 'Atenção',
                        message: 'Preencha os campos Obrigatórios!!!\n\n'+ this.errors.join(' - \n'),
                        
                        
                        }, 2500);
                     },

                     stringToBoolean(string){
                      switch(string.toLowerCase().trim()){
                          case "true": 
                          case "yes": 
                          case "1": 
                            return true;

                          case "false": 
                          case "no": 
                          case "0": 
                          case null: 
                            return false;

                          default: 
                            return Boolean(string);
                    }
                }            

              },
                  
                
                        
                    
    });
    </script>
 
<style>
  .row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
</style>
    

